#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

#define SCRL_UP MOVE_Y(ZMK_POINTING_DEFAULT_SCRL_VAL)
#define SCRL_DOWN MOVE_Y(-ZMK_POINTING_DEFAULT_SCRL_VAL)
#define SCRL_LEFT MOVE_X(-ZMK_POINTING_DEFAULT_SCRL_VAL)
#define SCRL_RIGHT MOVE_X(ZMK_POINTING_DEFAULT_SCRL_VAL)

// OS設定を日本語キーボードのまま使用するための変換定義
#define JP_DQUOTE       AT                // "
#define JP_AMPERSAND    CARET             // &
#define JP_QUOTE        AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CARET        EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TILDE        PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQUOTE    LEFT_BRACE        // `
#define JP_UNDERSCORE   LS(0x87)          // _
#define JP_LBRACKET     RIGHT_BRACKET     // [
#define JP_RBRACKET     BACKSLASH         // ]
#define JP_LPAREN       ASTERISK          // (
#define JP_RPAREN       LEFT_PARENTHESIS  // )
#define JP_LBRACE       RIGHT_BRACE       // {
#define JP_RBRACE       PIPE              // }
#define JP_KANA         LANGUAGE_1        // かな
#define JP_EISU         LANGUAGE_2        // 英数
#define JP_HANZEN       GRAVE             // 半角/全角

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {

    trackball_listener {
          compatible = "zmk,input-behavior-listener";
          device = <&trackball>;
          layers = <0 1 2 3 6 7>; /* マウス移動を有効にするレイヤーを指定 */
          evt-type = <INPUT_EV_REL>;
          x-input-code = <INPUT_REL_X>;
          y-input-code = <INPUT_REL_Y>;
          scale-multiplier = <1>;
          scale-divisor = <1>;

          /* Y軸反転の設定 */
          /* ZMK標準のマクロを使用することを強く推奨します */
          input-processors = <&zip_temp_layer 4 600>, <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>;

          /* もし数値で書く必要がある場合（マクロが効かない場合）:
             input-processors = <&zip_temp_layer 4 600>, <&zip_xy_transform 1 0 0 (-1) 0 0>;
          */
      };

      /* スクロールレイヤー用設定（レイヤー5のときスクロール動作） */
      trackball_scroll_listener {
          compatible = "zmk,input-behavior-listener";
          device = <&trackball>;
          layers = <5>; /* SCROLLレイヤー */
          evt-type = <INPUT_EV_REL>;

          /* 移動量(X/Y)をスクロールイベント(WHEEL/HWHEEL)に変換して送信 */
          x-input-code = <INPUT_REL_HWHEEL>; /* 横スクロール */
          y-input-code = <INPUT_REL_WHEEL>;  /* 縦スクロール */
          scale-multiplier = <1>;
          scale-divisor = <4>; /* スクロール速度の調整（値を増やすと遅くなる） */

          /* スクロール方向も反転したい場合はここで transform を追加 */
          // input-processors = <&zip_xy_transform (INPUT_TRANSFORM_Y_INVERT)>;
      };
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt_to_layer_0 6 Q  &kp W         &kp E         &kp R                          &kp T                                                                  &kp Y        &kp U  &kp I      &lt 5 O    &kp P
&kp A               &kp S         &kp D         &kp F                          &kp G                    &mkp RCLK           &kp RCTRL                  &kp H        &kp J  &kp K      &kp L      &kp MINUS
&mt LEFT_SHIFT Z    &kp X         &kp C         &kp V                          &kp B                    &mkp LCLK           &kp RIGHT_SHIFT            &kp N        &kp M  &kp COMMA  &kp DOT    &kp SLASH
&kp LCTRL           &kp LEFT_WIN  &kp LEFT_ALT  &lt_to_layer_0 7 INT_MUHENKAN  &mt LEFT_SHIFT SPACE     &lt_to_layer_0 3 INT_HENKAN  &kp BACKSPACE  &lt 1 ENTER                            &kp DEL
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &kp F10  &kp F7             &kp F8  &kp F9  &kp JP_CARET
&trans  &trans  &trans  &trans  &trans  &trans      &kp F13  &kp F11  &kp F4             &kp F5  &kp F6  &kp JP_TILDE
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &kp F12  &kp JP_UNDERSCORE  &kp F2  &kp F3  &kp JP_UNDERSCORE
&trans  &trans  &trans  &trans  &trans  &trans      &trans   &trans                                      &kp JP_TILDE
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                                                   &kp CARET         &kp AMPERSAND      &kp TILDE       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ASTERISK  &kp LC(LA(KP_NUMBER_0))      &kp UNDERSCORE  &kp EXCLAMATION   &kp AT_SIGN        &kp HASH        &kp DOLLAR            &kp PERCENT
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PERIOD    &kp EQUAL                    &trans          &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE       &kp BACKSLASH
&trans                      &trans           &trans           &trans           &trans        &trans                       &trans          &trans                                                                     &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp TAB                 &kp LS(TAB)     &kp LEFT_SHIFT           &kp LCTRL                       &kp ESCAPE  &kp PAGE_UP         &kp UP_ARROW    &kp PAGE_DOWN           &trans
&kp LS(TAB)     &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END    &trans      &trans   &kp HOME    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans     &trans      &trans   &trans      &trans          &trans          &trans           &trans
&trans          &trans                  &trans          &trans                   &trans     &trans      &trans   &trans                                                       &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans    &trans     &trans     &trans     &trans                           &trans    &trans     &mkp MCLK  &trans     &mkp RCLK
&mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5  &mkp LCLK      &trans  &mkp MB4  &mkp LCLK  &mkp LCLK  &mkp RCLK  &mkp MB5
&trans    &trans     &trans     &trans     &trans    &mkp RCLK      &trans  &trans    &trans     &trans     &trans     &trans
&trans    &trans     &trans     &trans     &trans    &trans         &trans  &trans                                     &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans     &mkp MCLK  &trans     &mkp RCLK
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &mkp MB4  &mkp LCLK  &mkp LCLK  &mkp RCLK  &mkp MB5
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &kp TAB       &trans        &trans        &trans                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans     &trans      &studio_unlock  &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp KP_N4  &trans      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans     &trans      &trans          &trans                                                  &bt BT_CLR_ALL
            >;
        };

        SymbolNumber {
            bindings = <
&kp JP_QUOTE     &kp JP_LPAREN  &kp JP_RPAREN     &kp JP_LBRACKET  &kp JP_RBRACKET                        &kp JP_PLUS   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp JP_ASTERISK
&kp DOLLAR       &kp PERCENT    &kp JP_AMPERSAND  &kp JP_YEN    &kp JP_AT      &trans      &kp JP_EQUAL  &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH
&kp EXCLAMATION  &kp JP_DQUOTE  &kp HASH          &kp SEMICOLON  &kp JP_COLON   &trans      &trans        &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp JP_UNDERSCORE
&trans           &trans         &trans            &trans         &trans         &trans      &trans        &trans                                                  &trans
            >;
        };
    };
};